/*
CSS for VFW 1207
Mark A. Blaine
July 2012
*/

body {	
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background:url('../images/smallBurst.gif');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color:#3b3a3a;
}

header {
	font-family: "Times New Roman", Times, serif;
	font-size: x-large;
}

h1 {
/* 	padding: 10px; */
	margin: 0 0 10px 0;
/*
	border: 5px solid pink;
	background: navy;
*/
}

h2 {
	text-transform: capitalize;
}

p {
	font-weight: bold;
}

legend {
	color: lightgrey;
}

form {
	background:url('../images/lines.gif');
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: bottom right
}

#textfields {
	padding: 0 0 0 0;
}

#radios {
	padding-left: 20px;
}

#instructions {
	padding-left: 20px;
}

#items ul{
	list-style-image: url('../images/starBullet.png');
	margin-bottom: 20px;
}

a {
	color: white;
	margin-right: 15px;
	margin-bottom: 15px;
}

a:hover {
	color: red;
}